<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vets Index Page</title>
</head>
<body>
<h1 th:text="'List of Vets'">List of Vets...</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet?.id}"></td>
        <td th:text="${vet?.firstName}"></td>
        <td th:text="${vet?.lastName}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>